.button {
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @include font-parametrs(700, 14px, 16px);
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 180px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
}
