.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;

  & h2 {
    @include font-parametrs(600, 30px, 30px);
    letter-spacing: -0.005em;
    color: $dark-1;
    margin: 153px 0 30px 0;

    @media (max-width: $tablet-max-width) {
      font-size: 24px;
      margin: 70px 0 20px 0;
    }

    @media (max-width: $mobile-max-width) {
      font-size: 18px;
      margin: 35px 0 20px 0;
    }
  }

  & p {
    @include font-parametrs(400, 17px, 31px);
    @include rgba($black, 0.7);
    margin: 0 0 42px 0;

    @media (max-width: $tablet-max-width) {
      margin: 0 0 20px 0;

      & br {
        display: none;
      }
    }

    @media (max-width: $mobile-max-width) {
      margin: 0 0 18px 0;
      padding: 0 30px;

      & br {
        display: block;
      }
    }
  }

  &__map {
    display: flex;
    margin: 0 0 39px 0;


    @media (max-width: $tablet-max-width) {

      margin: 0 0 24px 0;
    }

    @media (max-width: $mobile-max-width) {

      margin: 0 0 31px 0;
    }

    iframe {
      background: url("../img/content/map_dktp.webp");

      @media (max-width: $tablet-max-width) {
        width: 698px;
        height: 545px;
        background: url("../img/content/map_tablet.webp");
      }

      @media (max-width: $mobile-max-width) {
        width: 320px;
        height: 250px;
        background: url("../img/content/map_mobile.webp");
      }
    }
  }

  &__links {

    padding: 0 212px 0 195px;
    margin: 0 0 98px 0;

    @media (max-width: $tablet-max-width) {
      padding: 0 81px 0 70px;
      margin: 0 0 52.88px 0;
    }

    @media (max-width: $mobile-max-width) {
      padding: 0;
      margin: 0 0 52.88px 0;
    }

    & ul {
      @include list-reset();
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: $mobile-max-width) {
        justify-content: center;
      }
    }

    & li {
      display: flex;
      align-items: flex-start;
      margin: 0 0 10px 0;

      @media (max-width: $mobile-max-width) {
        align-items: center;
        margin: 0 0 21px 0;
      }

      & a {
        @include rgba($black, 0.5);
        @include font-parametrs(400, 16px, 22px);

        &:hover {
          color: rgba($dark-1, 0.3);
        }

        &:focus {
          color: rgba($azure, 0.7);
        }
      }

      &:first-child a {
        padding: 0 0 0 15px;

        @media (max-width: $mobile-max-width) {
          margin: 0 -3px 0 0;
        }
      }

      &:last-child a {
        line-height: 32px;
        padding-left: 15.5px;
        margin: -5px 0 0 0;


        @media (max-width: $mobile-max-width) {
          margin: 0;
        }
      }

      &:last-child svg {
        @media (max-width: $mobile-max-width) {
          margin: -3px 0 0 -15.5px;
        }
      }
    }
  }
}
