.feedback {
  background: url("../../img/content/triangles-feedback.png") 14% -200% no-repeat,
    url("../../img/content/Polygon-top_feedback.png") 94.2% 19.5% no-repeat,
    url("../../img/content/Polygon-bottom_feedback.png") 100% 83% no-repeat,
    $blue;

  @media (max-width: $tablet-max-width) {
    background: $blue;
  }

  &__title {
    margin: 0 30px 0 0;

    @media (max-width: $tablet-max-width) {
      margin: 0;
    }

    & h2 {
      font-family: "Roboto Condensed", "Arial", sans-serif;

      @include font-parametrs(400, 36px, 51px);
      color: $white;
      margin: 0 0 8px 0;

      @media (max-width: $tablet-max-width) {
        @include font-parametrs(400, 32px, 45px);
        margin: 0 0 17px -3px;
      }

      @media (max-width: $mobile-max-width) {
        @include font-parametrs(400, 28px, 39px);
        margin: 0 0 13px 0;
      }
    }

    & p {
      color: $white;
      margin: 0 0 49px 4px;

      @media (max-width: $tablet-max-width) {
        margin: 0 0 51.72px 0;
      }

      @media (max-width: $mobile-max-width) {
        margin: 0 0 22.72px 0;
      }
    }
  }

  &__wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 93px 375px 117px 175px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: url("../../img/content/paper-plane.png") 25% 42.5% no-repeat;


    @media (max-width: 1800px) {
      background: none;
    }

    @media (max-width: 1200px) {
      align-items: flex-start;
      padding: 79px 150px 108.1px 100px;
      background: none;
    }

    @media (max-width: $tablet-max-width) {
      align-items: flex-start;
      padding: 79px 87px 108.1px 92.15px;
      background: none;
    }

    @media (max-width: $mobile-max-width) {
      align-items: center;
      padding: 31px 15px 41px;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: 50px 154px 45px;
    row-gap: 40px;
    column-gap: 31px;

    @media (max-width: $tablet-max-width) {
      grid-template-columns: 47.369% 47.193%;
      grid-template-rows: 51.83px 159.63px 46.65px;
      row-gap: 41.46px;
      column-gap: 32.13px;
    }

    @media (max-width: $mobile-max-width) {
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, 51.83px) 104px 46.65px min-content;
      row-gap: 30px;
    }

    & textarea {
      font-family: "PT Mono", "Courier New", monospace;
      grid-area: 2/1/3/3;
      resize: none;
      color: $white;
      background-color: rgba($white, 0.1);
      border: 0;

      @include font-parametrs(400, 16px, 22px);
      padding: 13px 0 0 16.3px;

      &:hover {
        background-color: rgba($white, 0.3);
      }

      &::placeholder {
        color: $white;
      }

      @media (max-width: $mobile-max-width) {
        grid-area: 3/1/4/2;
        margin: 2px 0 0 0;
      }
    }

    & input {
      font-family: "PT Mono", "Courier New", monospace;

      @include font-parametrs(400, 16px, 22px);
      color: $white;
      background-color: rgba($white, 0.1);
      border: 0;
      padding: 0 0 0 16.5px;

      &:hover {
        background-color: rgba($white, 0.3);
      }

      &::placeholder {
        color: $white;
      }
    }

    & label {
      & input {
        height: 100%;
        width: 100%;
      }
    }

    & label:last-child {
      position: relative;
      color: rgba($white, 0.8);

      @include font-parametrs(400, 14px, 16px);
      margin: 11px 0 0 8px;
      padding: 0 0 0 32px;

      &:hover {
        color: rgba($white, 0.5);
      }

      @media (max-width: $mobile-max-width) {
        margin: 4px 0 0 2px;
      }
    }

    & input + label::before {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      width: 16px;
      height: 16px;
      border: 1px solid $white;
    }

    & input:checked + label::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 4px;
      width: 7.5px;
      height: 4.5px;
      background-image: url("../img/icons/tick-icon.svg");
      background-position: 0 0;
    }


    & button {
      width: 270px;
      background-color: transparent;
      color: $white;
      border: 1px solid $white;
      margin: 3px 0 0 0;

      &:hover {
        opacity: 0.5;
      }

      @media (max-width: $tablet-max-width) {
        width: 279.88px;
        height: 46.65px;
        margin: 5px 0 0 0;
      }

      @media (max-width: $mobile-max-width) {
        width: 100%;
        margin: 3px 0 0 0;
      }
    }
  }
}
