.form {
  flex: 0 1 37.15%;
  text-align: center;
  display: grid;
  grid-template: 1/1/1/4;
  row-gap: 20px;
  z-index: 3;

  @media (max-width:$tablet-max-width) {
    padding: 0px 57px 0px;
  }

  @media (max-width:$mobile-max-width) {
    row-gap: 0;
    padding: 0;
  }


  &__title {
    @include font-parametrs(600, 17px, 28px);
    letter-spacing: -0.005em;
    color: $white;
    margin: 13px 0px 0px 0px;


    @media (max-width:$tablet-max-width) {
      font-size: 18px;
      color: black;
      margin: 4px 0px 10px 0px;
    }

    @media (max-width:$mobile-max-width) {

      margin: 0px;
    }
  }

  @media (max-width:$tablet-max-width) {
    flex-basis: 100%;
  }
}

.form__name,
.form__tel {
  height: 48px;
  display: flex;
  align-items: center;
  background: $white;
  border: 1px solid $grey-3;
  box-sizing: border-box;
  border-radius: 6px;

  @media (max-width:$mobile-max-width) {
    margin: 0px 0px 20px 0px;
  }

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    @include font-parametrs(400, 15px, 24px);
    @include rgba($dark-2, 0.5);
    padding: 25px 0px 0px 27px;

    @media (max-width:$tablet-max-width) {
      padding: 25px 0px 0px 17px;
    }

    @media (max-width:$mobile-max-width) {
      padding: 25px 0px 0px 23px;
    }
  }
}
