.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__headtitle {
    @include font-parametrs(600, 46px, 64px);
    letter-spacing: -0.005em;
    margin: 30.7px 0px 24px 0px;
  }

  &__description {
    @include font-parametrs(300, 20px, 32px);
    @include rgba ($white, 0.8);
    letter-spacing: -0.005em;
    margin: 0px 0px 0px 0px;
  }

  &__logo {
    order: -1;
  }

  &__logo-pic {}
}
