.main-screen {
  flex: 1 0 825px;
  position: relative;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  @media (max-width: $tablet-max-width) {
    flex-basis: 340px;
  }

  @media (max-width: $mobile-max-width) {
    flex-basis: 390px;
  }
}
