.main-screen {
  flex: 1 0 100%;
  position: relative;

  &__bg {
    position: absolute;
    width: 100%;
    height: 825px;
    top: 0;
    left: 0;

    @media (max-width:$tablet-max-width) {
      height: 340px;
    }

    @media (max-width:$mobile-max-width) {
      height: 390px;
    }
  }
}
