.main-header {
  position: absolute;
  width: 100%;
  z-index: 5;

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $tablet-max-width) {
      justify-content: flex-end;
    }
  }
}
