.main-footer {
  flex: 0 0 auto;

  &__wrapper {
    max-width: 957px;
    margin: 0 auto;

    @media (max-width: $tablet-max-width) {
      max-width: 698px;
    }

    @media (max-width: $mobile-max-width) {
      max-width: 320px;
    }
  }
}
