.menu {
  &__burger {
    @media (max-width: $tablet-max-width) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      cursor: pointer;
      background-color: $azure;
      padding: 18px;
      z-index: 5;

      &:hover {
        background-color: rgba($azure, 0.7);
      }

      &.no-js {
        display: none;
      }

      span {
        position: absolute;
        top: 24.75px;
        left: 13.5px;
        width: 22.5px;
        height: 1px;
        background-color: $black;

        &:first-child {
          top: 18.5px;
        }

        &:last-child {
          top: auto;
          bottom: 18px;
        }
      }

      &.active {
        background-color: transparent;

        &:hover {
          background-color: rgba($grey-3, 0.8);
        }

        span {
          background-color: rgba($grey-2, 0.2);
          transform: scale(0);

          &:first-child {
            transform: rotate(45deg);
            top: 24px;
          }

          &:last-child {
            transform: rotate(-45deg);
            bottom: 24.5px;
          }
        }
      }
    }
  }
}
