.service {
  background: $dark-blue;
  padding: 0 30px;

  @media (max-width: $tablet-max-width) {
    padding: 0;
  }

  &__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 90px 0 97px 0;

    @media (max-width: $tablet-max-width) {
      max-width: 720px;
      padding: 53px 0 49px 0;
    }

    @media (max-width: $mobile-max-width) {
      padding: 53px 15px 35px;
    }

    & h2 {
      font-family: "Roboto Condensed", "Arial", sans-serif;

      @include font-parametrs(400, 36px, 51px);
      color: $white;
      margin: -2px 0 51px 0;

      @media (max-width: $tablet-max-width) {
        @include font-parametrs(400, 32px, 45px);
        max-width: 613px;
        margin: -2px 0 47px 0;
      }

      @media (max-width: $mobile-max-width) {
        @include font-parametrs(400, 28px, 39px);
        margin: -2px 0 40px 10px;
      }
    }

    & ul {
      @include list-reset();
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;


      @media (max-width: $tablet-max-width) {
        display: block;
      }
    }

    & li {
      flex: 0 0 31.62%;
      height: 620px;
      position: relative;
      margin: 0 30px 30px 0;

      &:last-child {
        margin: 0 0 0 0;

        @media (max-width: $tablet-max-width) {
          & h3 {
            top: 30px;
          }
        }

        @media (max-width: $mobile-max-width) {
          & h3 {
            top: 12px;
          }
        }
      }

      @media (min-width: 1024px) and (max-width: 1230px) {
        flex: 0 0 31.22%;
      }

      @media (max-width: $tablet-max-width) {
        height: 256px;
        margin: 0 0 46px 0;

        &:last-child {
          margin: 0 0 0 0;
        }
      }

      &:nth-child(3n+3) {
        margin: 0 0 30px 0;
      }

      @media (max-width: $mobile-max-width) {
        margin: 0 0 30px 0;
      }

      & h3 {
        font-family: "Roboto Condensed", "Arial", sans-serif;

        @include font-parametrs(400, 20px, 30px);
        color: $white;
        min-height: 60px;
        position: absolute;
        top: 31px;
        left: 44px;

        @media (max-width: $tablet-max-width) {
          top: 20px;
          left: 46px;
        }

        @media (max-width: $mobile-max-width) {
          top: 0;
          left: 35px;
        }
      }

      & a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      & img {
        opacity: 0.2;

        @media (max-width: 1230px) {
          width: 100%;
        }

        @media (max-width: $tablet-max-width) {
          width: 720px;
          height: 256px;
        }

        @media (max-width: $mobile-max-width) {
          width: 100%;
        }

        &:hover {
          opacity: 0.5;
        }
      }

      & span {
        width: 63px;
        height: 63px;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00b2ff;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      & svg {
        fill: none;
      }
    }
  }
}
