.service {
  background: $dark-blue;
  padding: 0 30px;

  @media (max-width: $tablet-max-width) {
    padding: 0;
  }

  &__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 93px 0 127px 0;

    @media (max-width: $tablet-max-width) {
      max-width: 720px;
      padding: 53px 0 78px 0;
    }

    @media (max-width: $mobile-max-width) {
      max-width: 290px;
      padding: 53px 0 64px 0;
    }

    & h2 {
      font-family: "Roboto Condensed", "Arial", sans-serif;

      @include font-parametrs(400, 36px, 51px);
      color: $white;
      margin: -2px 0 49px 0;

      @media (max-width: $tablet-max-width) {
        @include font-parametrs(400, 32px, 45px);
        max-width: 613px;
      }

      @media (max-width: $mobile-max-width) {
        @include font-parametrs(400, 28px, 39px);
        margin: -2px 0 40px 10px;
      }
    }

    & ul {
      @include list-reset();
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: $tablet-max-width) {
        display: block;
      }
    }

    & li {
      flex: 0 0 31.62%;
      height: 620px;
      position: relative;
      cursor: pointer;

      @media (max-width: $tablet-max-width) {
        height: 256px;
        margin: 0 0 46px 0;

        &:last-child {
          margin: 0 0 0 0;
        }
      }

      @media (max-width: $mobile-max-width) {
        margin: 0 0 30px 0;
      }

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
        background: inherit;
        background-size: cover;
        opacity: 0.2;
      }

      &:hover::before {
        opacity: 0.5;
      }

      & h3 {
        font-family: "Roboto Condensed", "Arial", sans-serif;

        @include font-parametrs(400, 20px, 30px);
        color: $white;
        margin: 52px 0 0 44px;
        min-height: 60px;

        @media (max-width: $tablet-max-width) {
          margin: 40px 0 0 44px;
        }

        @media (max-width: $mobile-max-width) {
          margin: 23px 0 0 35px;
        }
      }

      &:first-child {
        background: url("../../img/content/device-1_dktp.jpg") 50%;
        background-size: 0 0;

        @media (max-width: $tablet-max-width) {
          background: url("../../img/content/device-1_tab.jpg") 50%;
          background-size: 0 0;
        }

        @media (max-width: $mobile-max-width) {
          background: url("../../img/content/device-1_mob.jpg") 50%;
          background-size: 0 0;
        }
      }

      &:nth-child(2n) {
        background: url("../../img/content/device-2_dktp.jpg");
        background-size: 0 0;

        @media (max-width: $tablet-max-width) {
          background: url("../../img/content/device-2_tab.jpg");
          background-size: 0 0;
        }

        @media (max-width: $mobile-max-width) {
          background: url("../../img/content/device-2_mob.jpg");
          background-size: 0 0;
        }
      }

      &:nth-child(3n) {
        background: url("../../img/content/device-3_dktp.jpg");
        background-size: 0 0;

        @media (max-width: $tablet-max-width) {
          background: url("../../img/content/device-3_tab.jpg");
          background-size: 0 0;

          & h3 {
            margin: 48px 0 0 46px;
          }
        }

        @media (max-width: $mobile-max-width) {
          background: url("../../img/content/device-3_mob.jpg");
          background-size: 0 0;

          & h3 {
            margin: 30px 0 0 35px;
          }
        }
      }

      & a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      & span {
        width: 63px;
        height: 63px;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00b2ff;
        z-index: 2;
      }
    }
  }
}
