.video {
  background-color: $dark-4;
  margin: 0 0 95px 0;

  @media (max-width: $tablet-max-width) {
    margin: 0 0 85px 0;
  }


  &__wrapper {
    max-width: 929px;
    margin: 0 auto;

    @media (max-width: $tablet-max-width) {
      max-width: 503px;
    }

    @media (max-width: $mobile-max-width) {
      max-width: 288px;
    }
  }

  &__feature {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 706px;

    @media (max-width: $tablet-max-width) {
      height: 413px;
    }

    @media (max-width: $mobile-max-width) {
      height: 384px;
    }
  }

  & h2 {
    @include font-parametrs(600, 30px, 30px);
    letter-spacing: -0.005em;
    color: $white;
    margin: 120px 0 20px 0;

    @media (max-width: $tablet-max-width) {
      font-size: 24px;
      margin: 70px 0 20px 0;
    }

    @media (max-width: $mobile-max-width) {
      margin: 84px 0 20px 0;
    }
  }

  & p {
    @include font-parametrs(300, 16px, 28px);
    letter-spacing: -0.005em;

    @include rgba($white, 0.7);
    margin: 0 0 56px 0;

    & br:last-child {
      display: none;
    }

    @media (max-width: $tablet-max-width) {
      & br:last-child {
        display: block;
      }

      & br:first-child {
        display: none;
      }

      margin: 0 0 40px 0;
    }

    @media (max-width: $mobile-max-width) {
      & br:last-child {
        display: none;
      }

      margin: 0 0 54px 0;
    }
  }

  &__content {
    flex: 1 0 522px;
    position: relative;

    @media (max-width: $tablet-max-width) {
      flex-basis: 282px;
    }

    @media (max-width: $mobile-max-width) {
      flex-basis: 161.66px;
    }
  }

  &__ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    & span img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-51%, -48%);
      cursor: pointer;

      @media (max-width: $tablet-max-width) {
        transform: translate(-50%, -48%);
        width: 90.36px;
        height: 90.36px;
      }

      @media (max-width: $mobile-max-width) {
        transform: translate(-50%, -52%);
        width: 65px;
        height: 65px;
      }
    }

    @media (max-width: $tablet-max-width) {
      top: 0;
    }
  }

  & .video__pic {
    img {
      @media (max-width: $tablet-max-width) {
        width: 503px;
        height: 282px;
      }

      @media (max-width: $mobile-max-width) {
        width: 288px;
        height: 161.66px;
      }
    }
  }
}
