
/* roboto-condensed-regular - latin_cyrillic-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-ext-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-ext-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-condensed-700 - latin_cyrillic-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-ext-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-ext-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-mono-regular - latin_cyrillic-ext */
@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  src: local(" "),
    url("../fonts/pt-mono-v8-latin_cyrillic-ext-regular.woff2") format("woff2"),
    url("../fonts/pt-mono-v8-latin_cyrillic-ext-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
