// Colors
$black: #000000;
$white: #ffffff;

$dark-1: #1f1f1f;
$dark-2: #1c1c1c;
$dark-3: #48494d;
$dark-4: #131314;
$grey: #f6f6f6;
$grey-2: #141517;
$grey-3: #c9ccd4;
$grey-4: #f6f7f9;
$azure:#0ad9c6;


// Viewports

$mobile-max-width: 767px;
$tablet-max-width: 1023px;
