// Colors
$black: #000000;
$white: #ffffff;

$dark-1: #1F1F1F;
$dark-2: #1C1C1C;
$dark-3: #48494D;
$grey: #F6F6F6;
$grey-2: #141517;
$grey-3: #C9CCD4;
$grey-4: #F6F7F9;



$azure:#0AD9C6;


// Viewports

$mobile-max-width: 767px;
$tablet-max-width: 1023px;
